*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio header */

header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}

.logo{
    height: 50px;
    margin-top: 40px;
}

.container{
    width: 75%;
    margin: 0 auto;
}

/* fine header */

/* inizio main */

main .container{
    width: 75%;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    line-height: 40px;
}

.img{
    text-align: center;
}

.author{
    font-size: 16px;
    color: gray;
}

.author_name{
    color: #4ea0ff;
}

.date{
    font-size: 11px;
    color: gray
}

.caption{
    font-size: 12px;
    margin-bottom: 10px;
}

.highlights{
    background-color: yellow;
}

ul{
    margin: 30px 15px;
}

table{
    text-align: left;
    margin-bottom: 30px;
}

thead{
    background-color: #4ea0ff;
    color: white;
}

.odd{
    background-color: #bad5f3;
}

.text{
    width: 50%;
}

/* fine main */

h2{
    font-size: 15px;
    color: gray;
}

.image{
    width: 200px;
    height: 160px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 10px 0px;
}

.img_1{
    background-image: url(../img/monitor.jpg);
}

.img_2{
    background-image: url(../img/graph.jpg);
}

/* inizio footer */

footer .container{
    width: 75%;
    margin: 0 auto;
}

.img-text{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}