.pattern {
    background-color: rgb(19, 150, 164);

}

.text_aqua {
    color: aqua;
}

.text_gray {
    color: lightgray;
}

.background_color_yellow {
    background-color: yellow;
}

.thead {
    background-color: aqua;
    color: white;
    text-align: left;

}

.background_color_tr {
    background-color: lightseagreen;
}