.pattern{
    background-image: url(./img/pattern.png);
    background-color: rgb(19, 150, 164);
    background-size: contain;
    background-repeat: repeat-x;
    height: 100px;
    width: 150px;
}

.logo {
height: 50px;
width: 50px;
}

.text_aqua {
    color: aqua;
}

.text_gray {
    color: lightgray;
}

.background_color_yellow {
    background-color: yellow;
}

.thead {
    background-color: aqua;
    color: white;
    text-align: left;
}

.background_color_tr {
    background-color: lightseagreen;
}

.background_monitor {
    background-image:url(./img/monitor.jpg);
    height: 200px;
    width: 300px;
    color: white;
}

.backgroun_graph {
    background-image: url(./img/graph.jpg);
    height: 200px;
    width: 300px;
    color: white;
}